.projects{
    margin: 0;
    padding: 0;
    background-image: url('/src/img/mother_boeard_background.jpg');
    background-size: cover;
    padding-top: 4em;
}

.projects .mainText h1,h2{
    margin: 0;
    padding: 3%;
    display: flex;
    justify-content: center;
    
}
.projects .mainText h2{
    font-size: 1.2em;
}

.projects .container .images .text{
    color: rgb(244, 244, 252);
    font-size: 1em;
    text-align: center;
}

.projects .container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 20px;
    
    
}
.projects .container .images{
    min-width: 250px;
    padding: 5%;
}

.projects .container .images img{
    width: 100%;
    border-radius: 5%;
    border: 5px solid rgb(62, 66, 94);
    
}

.projects .container .images a .text:hover{
    opacity: 0.8;
    color: rgb(115, 115, 192);
    
}

.projects .container .images a{
    text-decoration: none;
}

@media only screen and (max-width: 700px){

    .projects .container{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr ;
            grid-template-columns: 1fr ;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

    }


    .projects .container .images{
        width: 70%;
        margin: auto;
        padding: 3%;
    }

    .projects .container .images img{
        display: flex;
        justify-content: center;
        border-radius: 5%;
        
    }
}