.images .text{
    color: rgb(244, 244, 252);
    font-size: 1em;
    text-align: center;
}
.images{
    min-width: 250px;
    padding: 5%;
    overflow: visible;
    
}
.images img{
    width: 100%;
    border-radius: 5%;
    border: 5px solid rgb(62, 66, 94);
    cursor: pointer;
    z-index: 1;
    
}
.images img:hover {
    z-index: 10;
    transform: scale(1.2);
    transition: ease-in 0.5s;
}