*{
    overflow-x: hidden;
}

.navBar{
    background-image: url("/src/img/header.jpg");
    height: 80px;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid #0f1724 ;
    box-shadow: 3px 3px 8px #9eb1da;
}

.navBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar nav ul li{
    display: inline-block;
    margin: 20px;
}

.navBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    
}
.navBar a:hover{
    
    color: rgb(36, 65, 129);
}

@media only screen and (max-width: 600px){
    .navBar nav ul li{
        font-size: 20px;
    }
    .navBar {
        width: 100%;
    }
}