*{
    overflow-x: hidden;
}
.navBar_hamburger_icon{
    display: none;
}
.navBar{
    background-image: url("/src/img/header.jpg");
    height: 80px;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid #0f1724 ;
    box-shadow: 3px 3px 8px #9eb1da;
}

.navBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navBar nav ul li{
    display: inline-block;
    margin: 20px;
}

.navBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    
}
.navBar a:hover{
    
    color: rgb(36, 65, 129);
}

@media only screen and (max-width: 500px){
    
    .navBar {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
 
    .navBar_hamburger_icon{
        position: relative;
        display: flex;
        height: 2em;
        padding: 1em;
        margin-left: 2em;
    }
    .dropdown_icon {
        cursor: pointer;
        display: inline-block;

      }
      
      .dropdown_content {
        border-radius: 0 0 10px 10px;
        background-color: rgb(218, 217, 223);
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        
        
      }
      
    .dropdown_icon:hover .dropdown_content {
    display: block;
    
    
    }
  
    .navBar nav ul li a{
        text-decoration: none;
        color: rgb(35, 34, 51);
        font-size: 1em;
        display: block;
        z-index: 1;
        
    }
    .navBar nav ul li{
        display: flex;
        flex-direction: column;
        z-index: 1;
        
    }






}