.footer {
    width: 100%;
    margin: auto;
    background-image: url("/src/img/footer.jpg");
    opacity: 0.9;
  }
  
  .footer .footerContainer {
    
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            
  }
  
  .footer .footerContainer p {
    font-size: 1em;
    color: white;
    
  }
  
  .footer .footerContainer a {
    padding: 0.6em;
    width: 33.3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1em;
    border-top:1px solid rgb(163, 189, 245);
    border-right:2.5px double rgba(29, 27, 49, 0.671);
    border-left:2.5px double rgba(29, 27, 49, 0.671);
    border-bottom:2.5px double rgba(29, 27, 49, 0.671);
    box-shadow:   inset 0 20px 10px -15px rgb(163, 189, 245);
    border-radius: 2%;
  }
  
  .footer .footerContainer a .footerIcon {
    color: white;
    float: left;
    margin-right: 1.5em;
    padding: 0.8em;
    align-self: center;
  }
   
  .footer .footerContainer a:visited {
    color: #b2c7dd;
  }
  
  .footer .footerContainer a:hover {
    -webkit-transition: 350ms;
    transition: 350ms;
    background-color: #1d40a0;
    color: #f8ffdb;
  }
  
  .footer .naw {
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding: 0.4em;
    color: white;
    margin: 0;
  }
  
  .footer .naw .footerIcon {
    
    vertical-align: middle;
    margin-left: 4px;
    margin-right: 3px;
    color: #f8ffdb;
  }
  
  @media only screen and (max-width: 600px){
    .footer{
      width: 100%;
      margin: auto;
    }
    .footer .footerContainer {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
              
    }

      .footer .footerContainer a {
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-decoration: none;
      font-size: 0.8em;
      border-top:1px solid white;
      border-right:1px solid rgb(12, 9, 53);
      border-left:1px solid rgb(12, 9, 53);
      border-bottom:1px solid rgb(12, 9, 53);
      box-shadow:   inset 0 20px 10px -15px white;
      border-radius: 2%;
    }
    .footer .footerContainer a .footerIcon {
      color: white;
      padding: 10px;
      align-self: center;

    }
    .footer .footerContainer p {
      font-size: 1px;
      visibility: hidden;
      
    }
    .footer .naw {
      width: 100%;
      text-align: center;
      padding: 0;
      color: white;
      margin: 0;
    }
    .footer .naw .footerIcon {
      vertical-align: middle;
      margin-left: 5px;
      margin-right: 4px;
      color: #f8ffdb;
    }
}
